`1.`
Che tipo di struttura dati o matematica potrebbe rappresentare? `Matrice`Notare che
tutte le liste "interne" sono della stessa dimensione. Come facciamo per accedere ad un elemento in particolare?

In [ ]:
mat = [[0, 1, 2, 3, 4],
[5, 6, 7, 8, 9],
[10, 11, 12, 13, 14]]

print(mat[1][2])

***

`2.` Importiamo il modulo math e proviamo a usare le funzioni
    .sin()
    .cos()
    .factorial()
e la variabile
    .pi

In [ ]:
import math

In [ ]:
math.sin(40)

In [ ]:
math.cos(10)

In [ ]:
math.factorial(4)

In [ ]:
math.pi

***

`3.` Qual è e cosa significa il risultato di "math.degrees(math.pi)"? `Converts an angle from radians to degrees.`

In [ ]:
 math.degrees(math.pi)

In [ ]:
help(math.degrees)

***

`4.`Consideriamo il seguente dizionario:
fatturati_dict = {1997: 12_000, 1998: 15_000,
1999: 20_000, 2000: 23_000, 2001: 25_000,
2002: 17_000, 2003: 14_000, 2004: 21_000}
Consideriamo ora la seguente Series:
fatturati_series = pd.Series([12_000, 15_000, 20_000,
23_000, 25_000, 17_000, 14_000, 21_000],
index=range(1997, 2005))
Possiamo accedere alle stesse informazioni nello stesso modo:
fatturati_dict[1997]
fatturati_series[1997]
Dunque qual è la differenza tra i due tipi di dato? `Il Dizionario è un struttura dati built in del python dove viene associato una chiave ad un valore. Series invece è una struttura dati da libreria Pandas con lo stesso scopo, dove si potranno manipolare ed analizare i dati (con indice)`
Cosa potremmo fare con la Series che non possiamo fare con il dizionario? `Con series si hanno i dati ordinati, al contrario con Dizionare che può succedere per puro caso`

In [ ]:
import pandas as pd

In [ ]:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000} 
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000],
                             index=range(1997, 2005)) 
fatturati_dict[1997] 
fatturati_series[1997]

***

`5.` * L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti,
memorizzato in un ndarray:
import numpy as np
stipendi = np.array( [100, 200, 300, 400, 500,
600, 700, 800, 900, 1000] )
L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi:
• con un ciclo for
• con il masking

In [ ]:
import numpy as np 
stipendi = np.array( [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] )
for stipendio in stipendi:
    print(stipendio * 2)

print(stipendi * 2)

mask = stipendi * 2
print(mask)

***

`6.`Scrivere un programma che, data una lista di numeri, fornisca in output i tre
numeri più grandi; gestire il caso in cui la lista sia più corta di tre, e quando uno
o più dei numeri selezionati sono uguali. `si ordine i dati/lista poi si stampa il necessario con slicing`

In [ ]:
numeri = [234, 34, 7, 9, 589, 43, 45, 87, 82, 9]
numeri = sorted(numeri)

if len(numeri) <= 3:
    print(numeri)
else:
    print(numeri[-3:])

In [ ]:
numeri = [234, 34, 7, 9, 589, 43, 45, 87, 82, 9]
numeri = sorted(numeri, reverse = True)
numeri = list(set(numeri)) #eliminazione duplicati
print(numeri[:3])
numeri

In [ ]:
numeri = list(range(10))

for numero in numeri:
    if numero > 3:
        print(numero)

***

`7.`Scrivere un programma che
• in input acquisisce una lista di numeri e un numero K
• in output, dovrà restituire la media di tutti i numeri nella lista maggiori o
uguali a K
• se non ce ne dovesse essere nessuno, dovrà stampare a schermo un
messaggio adeguato.

In [3]:
import numpy as np
numeri = np.array([34, 7, 9, 234, 43, 45, 589, 82, 87])
K = 60
numeri_magg = numeri >= K

media = round(numeri_magg.mean(),2) #calcolo della media
print(numeri)
print(f"la media dei numeri >= {K} è {media}")

[ 34   7   9 234  43  45 589  82  87]
la media dei numeri >= 60 è 0.44

***

`8.`Scrivere un programma che, data una lista di numeri, come output stamperà lo
stesso numero di asterischi su righe diverse, ottenendo una semplice
visualizzazione grafica
Esempio, supponendo di avere il seguente input:
numeri = [5, 2, 3, 4]
L'output sarà:
[*****, **, ***
****]

In [8]:
#numeri = int(input("Scrivere una lista di numeri separati dalla virgola:"))
numeri = [4,34,4,1,3,]

for numero in numeri:
    print("*" * numero)

****
**********************************
****
*
***

***

`9.`Abbiamo una lista di codici fiscali:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C",
"MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F",
"DEFGHI95J06A987G"]
• trovare i codici fiscali che contengono "95", metterli in una lista, e alla fine
stamparla;
• inoltre, per ognuno di essi, stampare a video i caratteri relativi al nome e
quelli relativi al cognome.

In [11]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]

for cf in lista_cf:
    if "95" in cf:
        print(cf)

ABCDEF95G01A123B
STUVWX95Z04A654E
DEFGHI95J06A987G

***

`10.`Abbiamo tre liste della stessa lunghezza, dove ogni elemento nella medesima posizione si
riferisce ai dati dello stesso studente:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith",
"Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend",
"Data Analyst", "Backend", "Frontend", "Cybe§rsecurity"]
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]
• Stampare a video tutti e soli gli studenti che frequentano una prima edizione; non tutti
i dati potrebbero essere necessari.

In [16]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"] 
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

for indice in range(len(studenti)):
    edizione = edizioni[indice]
    studente = studenti[indice]
    corso = corsi[indice]
    if edizione == 1:
        print(f"{studente} da parte del edizione {edizione} nel corso '{corso}'.")

Alex da parte del edizione 1 nel corso 'Cybersecurity'.
Faith da parte del edizione 1 nel corso 'Backend'.

***

`11.`L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni
mese nell'ultimo anno:
lst = [2000, 5500, 7200, 4320, 1280, 1900,
2500, 3900, 6410, 8150, 7100, 5350]
trasformiamola in un array NumPy (casting):
lst = np.array(lst)
e rispondiamo alle domande del CEO della Object SpA:
• qual è stata la vendita massima mensile? E quella minima?
• quali sono le vendite mensili maggiori di 5000 oggetti? E quante ne sono?
• quali sono le vendite minori di 3000 oggetti?
• in media quanti oggetti sono stati venduti al mese?

In [ ]:
import numpy as np

In [ ]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
lst = np.array(lst)
type(lst)

In [ ]:
vendita_max = np.max(lst)
vendita_min = np.min(lst)

print(f"La vendita massima è stata {vendita_max}")
print(f"La vendita minima è stata {vendita_min}")

vend_magg = lst[lst > 5000]
vend_min = lst[lst < 3000]

vend_media = np.mean(lst)
vend_media = round(vend_media,2)

print(f"Le vendite maggiori di  5000 sono state: {vend_magg}.")
print(f"Le vendite maggiori di  5000 sono in totale: {vend_magg.size}.")
print(f"Le vendite minori di  3000 sono state: {vend_min}.")
print(f"Le vendite minori di  3000 sono  in totale: {vend_min.size}.")

print(f"Di media sono stati venduti {vend_media} oggetti")

***

`12.`Abbiamo una lista di stringhe di prezzi in dollari, che erroneamente sono stati
scritti con il simbolo dell'euro:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]
cambiare il simbolo dell'euro (€) in quello del dollaro ($) per ogni stringa nella
lista; il risultato sarà memorizzato in un'altra lista.

In [18]:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]

prezzi_dollari = []

for prezzo in prezzi:
    prezzo_dollari = prezzo.replace("€","$")
    prezzi_dollari.append(prezzo_dollari)

print(prezzi_dollari)

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

`13.`Abbiamo una lista di studenti:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith",
"Grace", "Henry", "Isabelle", "John"]
vogliamo dividere gli studenti in due squadre per un campionato di Uno nel
seguente modo: selezioneremo i nomi in posizione pari per un squadra, e i nomi
in posizione dispari per l'altra.
Creiamo due liste per ogni squadra, e alla fine visualizziamole.

In [20]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

sq_1 = studenti[::2]
sq_2 = studenti[1::2]

print(sq_1)
print(sq_2)

['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
['Bob', 'Dan', 'Faith', 'Henry', 'John']

In [23]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

sq1 = []
sq2 = []
for indice in range(len(studenti)):
    studente = studenti[indice]
    if indice % 2 == 0: #se l'indice è divisibile a 2 con risultato booleano (posizione pari)
        sq1.append(studente)
    else: #posiz dispari
        sq2.append (studente)

print(sq1)
print(sq2)

['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
['Bob', 'Dan', 'Faith', 'Henry', 'John']

`14.`Abbiamo una lista con i guadagni degli ultimi 12 mesi (supponiamo da Gennaio a
Dicembre):
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
dobbiamo confrontare, stampando tutto a video, il guadagno di ogni mese con la media
dei guadagni precedenti, e specificare nell'output se il guadagno attuale è maggiore o
minore della media dei precedenti.
Esempio di un possibile output:
Mese 1: 100 €
Mese 2: 90 € (media prec: 100 € - il guadagno attuale è minore)
Mese 3: 70 € (media prec: 95 € - il guadagno attuale è minore)

In [37]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

prece_guada = []
mese = 1

for guadagno in guadagni:
    if len(prece_guada) == 0:
        print(f"Mese {mese}: {guadagno}€")
    else:
        media_mese_prece = round( np.mean(prece_guada), 2)
        print(f"Mese {mese}: {guadagno}€. La media dei mesi prededenti è {media_mese_prece}€")
        if guadagno < media_mese_prece:
            print(f"    il guadagno è minore")
        else:
            print(f"    il guadagno è maggiore")
    prece_guada.append(guadagno)
    mese += 1

Mese 1: 100€
Mese 2: 90€. La media dei mesi prededenti è 100.0€
    il guadagno è minore
Mese 3: 70€. La media dei mesi prededenti è 95.0€
    il guadagno è minore
Mese 4: 40€. La media dei mesi prededenti è 86.67€
    il guadagno è minore
Mese 5: 50€. La media dei mesi prededenti è 75.0€
    il guadagno è minore
Mese 6: 80€. La media dei mesi prededenti è 70.0€
    il guadagno è maggiore
Mese 7: 90€. La media dei mesi prededenti è 71.67€
    il guadagno è maggiore
Mese 8: 120€. La media dei mesi prededenti è 74.29€
    il guadagno è maggiore
Mese 9: 80€. La media dei mesi prededenti è 80.0€
    il guadagno è maggiore
Mese 10: 20€. La media dei mesi prededenti è 80.0€
    il guadagno è minore
Mese 11: 50€. La media dei mesi prededenti è 74.0€
    il guadagno è minore
Mese 12: 50€. La media dei mesi prededenti è 71.82€
    il guadagno è minore

***